---
name: splunk-firehose-nozzle
label: Splunk Nozzle for PCF Firehose
description: Forward firehose logs & metrics to Splunk
icon_file: resources/icon.png

# org: test-org                       # Optional
# space: test-space                   # Optional
org_quota: 4096                       # Optional, memory quota in mb
apply_open_security_group: true       # Apply open security group, default: false
allow_paid_service_plans: true        # Allow paid service plans, default: false

stemcell_criteria:
  os: ubuntu-trusty
  requires_cpi: false
  version: '3262'

properties:
- name: author
  type: string
  label: Author
  value: Matt Cholick & Roy Arsan

forms:
- name: splunk-config
  label: Splunk Destination
  description: Splunk target configuration
  markdown: |
    Configure your Splunk target destination of one or more servers
  properties:
  - name: splunk_server
    type: string
    label: Remote Splunk server(s)
    description: Comma-separated list of Splunk servers to send data to. Each Splunk server specified as <address>:<port>, where address is either FQDN or IP address, and port is the port on which Splunk server is listening
  - name: splunk_index
    type: string
    label: Index
    description: Splunk index
    default: main

- name: splunk-config-ssl
  label: Splunk SSL Settings
  description: Splunk connection encryption & authentication
  markdown: |
    You can configure Splunk forwarding to use your own SSL certificates to ensure that your data is securely encrypted when in transit.
    This is not required for using the Splunk Nozzle but it is highly recommended.
    
    Follow Splunk documented instructions on [how to prepare your signed certificates into single PEM file](http://docs.splunk.com/Documentation/Splunk/6.5.0/Security/HowtoprepareyoursignedcertificatesforSplunk) to be provided as `Client certificate` in this form.

    Refer to Splunk Docs for more background on [securing data from forwarders](http://docs.splunk.com/Documentation/Splunk/6.5.0/Security/Aboutsecuringdatafromforwarders)
  properties:
  - name: splunk_ssl
    type: boolean
    label: Enable Splunk SSL
    description: Enable SSL authentication
    default: false
  - name: splunk_ssl_cert
    type: text
    label: Client certificate (PEM format)
    description: Properly concatenated client certificate, client private key & public certificate as single PEM file
    optional: true
  - name: splunk_ssl_password
    type: secret
    label: Client certificate password
    description: Passphrase for client private key (if applicable)
    optional: true
  - name: splunk_ssl_root_ca
    type: text
    label: Root CA certificate(s) (PEM format)
    description: One or more root CA certificates concatenated together. This will be used to verify target Splunk server(s) certificates.
    optional: true
  - name: splunk_ssl_common_name
    type: string
    label: Common name(s) of server(s) certificates
    description: Comma-separated list of common names. The common name of Splunk server(s) certificates will be checked against this list.
    optional: true
  - name: splunk_ssl_alt_name
    type: string
    label: Alternate name(s) of server(s) certificates
    description: Comma-separated list of alternate names. The alternate name of Splunk server(s) certificates will be checked against this list.
    optional: true

- name: cf-config
  label: Cloud Foundry Settings
  description: Cloud Foundry connection details
  properties:
  - name: skip_ssl_validation
    type: boolean
    label: Skip SSL validation
    default: false
    description: Skip SSL validation (to allow things like self-signed certs). Do not set to true in production.
  - name: add_app_info
    type: boolean
    default: false
    label: Add App Info
    description: When true, nozzle will query cloud controller to add name, space, org. This will greatly increase load on the cloud controller.
  - name: api_user
    type: string
    label: API user
    description: Nozzle user. Best practice is to provide a user in keeping with "Rotate, Repave, Repair" so that credentials that can be easily deactivated, rotated, and have minimal access privileges. If left empty, admin will be used.
    optional: true
  - name: api_password
    type: secret
    label: API password
    description: Password for API user
    optional: true
  - name: selected_events
    type: multi_select_options
    label: Event Types
    default: ['ValueMetric', 'CounterEvent', 'Error', 'ContainerMetric']
    options:
      - name: HttpStartStop
        label: HttpStartStop
      - name: LogMessage
        label: LogMessage
      - name: ValueMetric
        label: ValueMetric
      - name: CounterEvent
        label: CounterEvent
      - name: Error
        label: Error
      - name: ContainerMetric
        label: ContainerMetric
    description: Event types to forward to Splunk

- name: advanced
  label: Advanced
  description: Internal Splunk nozzle configuration (for advanced usage or debug)
  properties:
  - name: splunk_admin_user
    type: string
    label: Splunk Forwarder admin username
    default: admin
    description: admin username for internal Splunk Forwarder
  - name: splunk_admin_pass
    type: string
    label: Splunk Forwarder admin password
    description: password for internal Splunk Forwarder
    default: AdminPass1
  - name: token
    type: string
    label: Splunk Forwarder HEC Token
    description: HTTP Event Collector (HEC) token to be internally used by Splunk Forwarder to accept events from firehose
    default: Splunk-HEC-Token-1
  - name: firehose_subscription_id
    type: string
    label: Firehose subscription id
    default: splunk-firehose-subscription-id
    description: Subscription id unique to nozzle; firehose balances across socket connections having same id.

packages:
- name: splunk-bosh-release
  type: bosh-release
  path: resources/cf-splunk-{{ version }}.tgz
  jobs:
  - name: splunk-nozzle
    templates:
    - name: splunk-forwarder
      release: cf-splunk
    - name: splunk-nozzle
      release: cf-splunk
    memory: 512
    ephemeral_disk: 4096
    cpu: 2
    dynamic_ip: 0
    static_ip: 1
    properties:
      cf_splunk:
        # shared properties
        skip_ssl_validation: (( .properties.skip_ssl_validation.value ))

        add_app_info: (( .properties.add_app_info.value ))
        api_endoint: https://api.(( ..cf.cloud_controller.system_domain.value ))
        api_user: (( .properties.api_user.value ))
        api_password: (( .properties.api_password.value ))
        api_user_secondary: (( ..cf.uaa.admin_credentials.identity ))
        api_password_secondary: (( ..cf.uaa.admin_credentials.password ))

        events: (( .properties.selected_events.value ))
        firehose_subscription_id: (( .properties.firehose_subscription_id.value ))

        splunk_server: (( .properties.splunk_server.value ))
        splunk_index: (( .properties.splunk_index.value ))
        splunk_token: (( .properties.token.value ))

        splunk_ssl: (( .properties.splunk_ssl.value ))
        splunk_ssl_cert: (( .properties.splunk_ssl_cert.value ))
        splunk_ssl_password: (( .properties.splunk_ssl_password.value ))
        splunk_ssl_root_ca: (( .properties.splunk_ssl_root_ca.value ))
        splunk_ssl_common_name: (( .properties.splunk_ssl_common_name.value ))
        splunk_ssl_alt_name: (( .properties.splunk_ssl_alt_name.value ))
